<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProfilingApp.Properties.Settings.ConnectionString"
      connectionString="Data Source=cbdaweb01.dev.local\SQLBPR;Initial Catalog=Test;Integrated Security=true"
      providerName="Microsoft.Data.SqlClient" />
    <add name="ProfilingApp.Core.Resources.Settings.ConnectionString"
      connectionString="Data Source=cbdaweb01.dev.local\SQLBPR;Initial Catalog=Test;Integrated Security=true"
      providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>